.graph-container-btc {
    background-color: #FBF8F1;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
}

.graph-container-eth {
    background-color: #F7ECDE;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
}


.graph-container-usdt {
    background-color: #FBF8F1;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
}

